<gridster-item [item]="getItemConfiguration()">
  <mat-card class="example-widget not-loaded" align="center" *ngIf="!data">
    <mat-card-title class="mat-headline">{{ title }}</mat-card-title>
    <mat-card-content>
      <h1 class="mat-h1">Data Not Loaded</h1>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-widget" *ngIf="data" align="center">
    <mat-card-title class="mat-headline">{{ title }}</mat-card-title>
    <mat-card-content>
      This was pulled from the Pickles Data API:
      {{ stringifyData() }}
    </mat-card-content>
    <mat-card-footer><p>Last Updated: {{ this.lastUpdated | date : "shortTime"}}</p></mat-card-footer>
  </mat-card>
</gridster-item>
