<gridster [options]="options">
  <app-example-pickle-widget [refreshInterval]="60000" [xPosition]="1" [yPosition]="0" [height]="2" [width]="2"></app-example-pickle-widget>
  <app-clock [title]="'Melbourne'" [timeFormat]="'hh:mm aa'" [dateFormat]="'MMM d, y'" [timezone]="'AEST'" [xPosition]="1" [yPosition]="2" [height]="2" [width]="1"></app-clock>
  <app-clock [title]="'London'" [timeFormat]="'hh:mm aa'" [dateFormat]="'MMM d, y'" [xPosition]="2" [yPosition]="2" [height]="2" [width]="1"></app-clock>
</gridster>
